<div class="col-md-10" style="border:1px solid red">
  <p>这是父组件，下面我要调用子组件</p>
  <!-- 因为子组件需要一个DATA变量，下面我要把父组件作用域的动态值，dataa传给子组件。保存在子组件的DATA内
    然后是子组件会发射一个emitEvent事件，在这里用下面这种方式监听这个emitEvent事件。当接收到发射事件时执行doSthing()方法.注意必须加上$event不然无法获取到子组件传递的参数
    第三种场景是父组件想要触发子组件上的方法，比如点击下面那个按钮时，触发子组件的go()方法。需要在app-test-child标签上加上#child标识。然后通过child.go()调用子组件的方法
    然后是另外一种调用子组件方法的操作，因为调用子组件可能是要在某个事件的回调里，并不仅仅是通过按钮来调用。通过点击按钮在父组件的a()方法里调用b组件的某个方法
  -->
  <app-test-child [DATA]="dataa" (emitEvent)="doSthing($event)" #child></app-test-child>
  <button class="btn btn-danger" (click)="child.go(b)">这是父按钮，点击触发子组件的go函数</button>
  <button class="btn btn-success" (click)="a(ddd)">点击时候先调用父组件自己的a()方法，然后在a方法内，调用子组件的b方法</button>
</div>