<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-test-value-bind></app-test-value-bind>
  <app-test-temp-ref-var></app-test-temp-ref-var>
  <app-test-event-binding></app-test-event-binding>
  <app-test-twoway-bind></app-test-twoway-bind>
  <app-test-ng-if></app-test-ng-if>
  <app-test-ng-for></app-test-ng-for>
  <app-test-ng-switch></app-test-ng-switch>
  <app-test-ng-class></app-test-ng-class>
  <app-test-ng-style></app-test-ng-style>
  <app-test-ng-module></app-test-ng-module>
  <app-test-ng-pipe></app-test-ng-pipe>
  <app-test-safe-nav></app-test-safe-nav>
</div>